# import 'macro/forms.html' as forms
<form method="POST" action="." novalidate>
  {{form.csrf_token}}
  {{forms.hidden_field(form.next_url)}}
  {{form.remember(class='hide')}}
  {{forms.email_field(form.email, autofocus=True, class='form-control input-lg')}}
  {{forms.password_visible_field(form.password, size='lg')}}
  {{forms.recaptcha_field(form.recaptcha)}}

  <div class="form-group">
    <input type="email" placeholder="Email" class="form-control rounded input-lg text-center no-border">
  </div>
  <div class="form-group">
     <input type="password" placeholder="Password" class="form-control rounded input-lg text-center no-border">
  </div>
  <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded" {{forms.data_loading_text()}}><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign in</span></button>
  <div class="text-center m-t m-b"><a href="{{url_for('user_forgot')}}"><small>Forgot password?</small></a></div>
  <div class="line line-dashed"></div>
  <p class="text-muted text-center"><small>Do not have an account?</small></p>
  <a href="{{url_for('signup', next=next_url)}}" class="btn btn-lg btn-info btn-block rounded">Create an account</a>
</form>