# extends 'base.html'
# import 'macro/utils.html' as utils
# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>title</th>
        <th>album</th>
        <th>artist</th>
        <th>genre</th>
        <th>{{utils.order_by_link('musicbrainz_trackid', 'musicbrainz_trackid')}}</th>
      </tr>
    </thead>
    <tbody>
      # for track_db in track_dbs
        <tr>
          <td><a href="/track/{{track_db.key.id()}}">{{track_db.title}}</a></td>
          <td>{{track_db.album}}</td>
          <td>{{track_db.artist}}</td>
          <td>{{track_db.genre}}</td>
          <td>{{track_db.musicbrainz_trackid}}</td>
        </tr>
      # endfor
    </tbody>
  </table>
  {{utils.next_link(next_url)}}
# endblock