<section class="vbox" id="content-area">
    <section class="w-f-md" id="bjax-target">
      <section class="hbox stretch">
        <!-- side content -->
        <aside class="aside bg-light dk" id="sidebar">
          <section class="vbox animated fadeInUp">
            <section class="scrollable hover">
              <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                <ul class="list-group">
                    # for genre in genre_list|sort():
                        <li>
                            <a href="{{ url_for('genres') }}?type={{ genre | urlencode }}" class="list-group-item db {{'active' if (active == genre) or (active in genre_list[genre]) }}">{{ genre }}</a>
                              <ul style="padding-left: 15px;" class="collapse {{'in' if (active == genre) or (active in genre_list[genre]) }}">
                                #for sub_genre in genre_list[genre]:
                                <li class="list-group-item {{'active' if (active == sub_genre) }}"><a href="{{ url_for('genres') }}?type={{ sub_genre | urlencode }}" class="db" >{{ sub_genre }}</a></li>
                                # endfor
                              </ul>
                        </li>
                    # endfor

                </ul>

              </div>
            </section>
          </section>
        </aside>
        <!-- / side content -->
        <section>
          <section class="vbox">
            <section class="scrollable padder-lg">
              <h2 class="font-thin m-b">{{ active }}</h2>
              <div class="row row-sm">
                # for track in track_list
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                        <div class="bottom">
                            <span class="badge bg-info m-l-sm m-b-sm">{{ track.get_duration_time() }}</span>
                          </div>
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a data-id="{{ track.gdrive_id }}" data-title="{{ track.title }}" data-artist="{{ track.artist }}"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a {#href="track-detail.html"#}><img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" style="background-image: url('{{track.cover_img}}');" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a {#href="track-detail.html"#} data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">{{ track.title }}</a>
                          <a {#href="track-detail.html"#} data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">{{ track.artist }}</a>
                        </div>
                      </div>
                    </div>
                # endfor
              </div>
              <ul class="pagination pagination">
                <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
              </ul>
            </section>
          </section>
        </section>
      </section>
    </section>
</section>