<section class="vbox" id="content-area">
  <section class="scrollable padder-lg w-f-md" id="bjax-target">
  <a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin" ><i class="icon-refresh i-lg  inline" id="refresh"></i></a>
  <h2 class="font-thin m-b">Discover <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
    <span class="bar1 a1 bg-primary lter"></span>
    <span class="bar2 a2 bg-info lt"></span>
    <span class="bar3 a3 bg-success"></span>
    <span class="bar4 a4 bg-warning dk"></span>
    <span class="bar5 a5 bg-danger dker"></span>
  </span></h2>
  <div class="row row-sm">
    # for track in discover_list
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="item">
          <div class="pos-rlt">
          <div class="bottom">
            <span class="badge bg-info m-l-sm m-b-sm">{{ track.get_duration_time() }}</span>
          </div>
            <div class="item-overlay opacity r r-2x bg-black">
              <div class="text-info padder m-t-sm text-sm">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o text-muted"></i>
              </div>
              <div class="center text-center m-t-n">
                <a href="#" data-id="{{ track.gdrive_id }}" data-title="{{ track.title }}" data-artist="{{ track.artist }}"><i class="icon-control-play i-2x"></i></a>
              </div>
              <div class="bottom padder m-b-sm">
                <a href="#" class="pull-right">
                  <i class="fa fa-heart-o"></i>
                </a>
                <a href="#">
                  <i class="fa fa-share-alt"></i>
                </a>
              </div>
            </div>
            <a href="#" data-id="{{ track.gdrive_id }}" data-title="{{ track.title }}" data-artist="{{ track.artist }}">
                # if track.cover_img
                <img src="{{track.cover_img}}" alt="" class="r r-2x img-full">
                # else
                <img src="/p/img/p1.jpg" alt="" class="r r-2x img-full">
                # endif
            </a>
          </div>
          <div class="padder-v">
            <a href="#" class="text-ellipsis">{{track.title}}</a>
            <a href="#" class="text-ellipsis text-xs text-muted">{{track.artist}}</a>
          </div>
        </div>
      </div>
    # endfor

  </div>
  <div class="row">
    <div class="col-md-7">
      <h3 class="font-thin">New Songs</h3>
      <div class="row row-sm">
        # for track in new_songs
        <div class="col-xs-6 col-sm-3">
          <div class="item">
            <div class="pos-rlt">
              <div class="item-overlay opacity r r-2x bg-black">
                <div class="center text-center m-t-n">
                  <a href="#" data-id="{{ track.gdrive_id }}" data-title="{{ track.title }}" data-artist="{{ track.artist }}"><i class="fa fa-play-circle i-2x"></i></a>
                </div>
              </div>
              <a href="#" data-id="{{ track.gdrive_id }}" data-title="{{ track.title }}" data-artist="{{ track.artist }}">
              <img src="{{ track.cover_img }}" alt="" class="r r-2x img-full">
              </a>
            </div>
            <div class="padder-v">
              <a href="#" class="text-ellipsis">{{track.title}}</a>
              <a href="#" class="text-ellipsis text-xs text-muted">{{track.artist}}</a>
            </div>
          </div>
        </div>
        # endfor
      </div>
    </div>
    <div class="col-md-5">
      <h3 class="font-thin">Top Songs</h3>
      <div class="list-group bg-white list-group-lg no-bg auto">
        <a href="#" class="list-group-item clearfix">
          <span class="pull-right h2 text-muted m-l">1</span>
          <span class="pull-left thumb-sm avatar m-r">
            <img src="/p/img/a0.png" alt="...">
          </span>
          <span class="clear">
            <span>Little Town</span>
            <small class="text-muted clear text-ellipsis">by Chris Fox</small>
          </span>
        </a>
        <a href="#" class="list-group-item clearfix">
          <span class="pull-right h2 text-muted m-l">2</span>
          <span class="pull-left thumb-sm avatar m-r">
            <img src="/p/img/a0.png" alt="...">
          </span>
          <span class="clear">
            <span>Lementum ligula vitae</span>
            <small class="text-muted clear text-ellipsis">by Amanda Conlan</small>
          </span>
        </a>
        <a href="#" class="list-group-item clearfix">
          <span class="pull-right h2 text-muted m-l">3</span>
          <span class="pull-left thumb-sm avatar m-r">
            <img src="/p/img/a0.png" alt="...">
          </span>
          <span class="clear">
            <span>Aliquam sollicitudin venenatis</span>
            <small class="text-muted clear text-ellipsis">by Dan Doorack</small>
          </span>
        </a>
        <a href="#" class="list-group-item clearfix">
          <span class="pull-right h2 text-muted m-l">4</span>
          <span class="pull-left thumb-sm avatar m-r">
            <img src="/p/img/a0.png" alt="...">
          </span>
          <span class="clear">
            <span>Aliquam sollicitudin venenatis ipsum</span>
            <small class="text-muted clear text-ellipsis">by Lauren Taylor</small>
          </span>
        </a>
        <a href="#" class="list-group-item clearfix">
          <span class="pull-right h2 text-muted m-l">5</span>
          <span class="pull-left thumb-sm avatar m-r">
            <img src="/p/img/a0.png" alt="...">
          </span>
          <span class="clear">
            <span>Vestibulum ullamcorper</span>
            <small class="text-muted clear text-ellipsis">by Dan Doorack</small>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="row m-t-lg m-b-lg">
    <div class="col-sm-6">
      <div class="bg-primary wrapper-md r">
        <a href="#">
          <span class="h4 m-b-xs block"><i class=" icon-user-follow i-lg"></i> Login or Create account</span>
          <span class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="bg-black wrapper-md r">
        <a href="#">
          <span class="h4 m-b-xs block"><i class="icon-cloud-download i-lg"></i> Download our app</span>
          <span class="text-muted">Get the apps for desktop and mobile to start listening music at anywhere and anytime.</span>
        </a>
      </div>
    </div>
  </div>
</section>
</section>